* {
    box-sizing: border-box;
}

html {
   height: 100%;
}

html, body {
	height: 100%;
	margin: 0px;
}

.body-wrapper {
	height: 100%;
	background: #FFF;
}

.body-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

#user-section img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 5%;
	display: block;
}

#user-section .button {
	margin: 0 auto;
	margin-top: 5%;
	display: block;
}

#live-channels {
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
	height: 32%;
}

#scheduled-channels {
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
	height: 32%;
}

#rightside-bar-footer {
	height: 10%;
}

#rightside-bar-footer .button {
	margin: 0 auto;
	margin-top: 5%;
	display: block;
}

.column {
	float: left;
    padding: 10px;
    height: 100%;
}

.chatbody {
	width: 65%;
}

.leftside-bar {
	width: 20%;
	background-color: #76b852;
}

.rightside-bar {
	width: 15%;
	background-color: #76b852;
}